*, ::before, ::after{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Lato'
}

body{
  background-color: #343D4B;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #212730;
  display: flex;
  height: 350px;
  width: 600px;
  border-radius: 25px;
}

.day, .description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px;
}

.day {
  background-color:burlywood;
  width: 45%;
  height: 370px;
  position: relative;
  top: -10px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.day:hover{
  transition: all 0.3s ease-in-out;
  transform: scale(1.1) perspective(1500px) rotateY(20deg)
}

.day__text > p {
  font-size: 20px;
}

.description {
  width: 55%;
}

.description__text {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.description__text__card {
  display: flex;
  justify-content: space-between;
}

.description__otherday {
  height: 45%;
  display: flex;
  justify-content: space-between;
  background-color: #282e38;
  border-radius: 15px;
}

.description__otherday__card {
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.15s ease-in-out;
}

.description__otherday__card:hover {
  background-color: #566175;
  transition: all 0.15s ease-in-out;
  transform: scale(1.1);
}

.day__weather__temperature {
  font-size: 60px;
}

.day__text__selected {
  font-size: 40px;
}